.CartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.CartItem h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #333;
}

.CartItem p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #555;
}

.CartItem p:last-child {
    margin-bottom: 1rem;
}

.CartItem button {
    border: none;
    background-color: #dc3545;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.CartItem button:hover {
    background-color: #c82333;
}

@media screen and (min-width: 768px) {
    .CartItem {
        max-width: 800px;
        margin: 1rem auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    .CartItem h4 {
        font-size: 2rem;
    }

    .CartItem p {
        font-size: 1.5rem;
    }

    .CartItem button {
        margin-top: 0;
        padding: 0.5rem 1.5rem;
        font-size: 1.5rem;
    }
}