.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

.Routes {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}